@font-face {
  font-family: 'chat_icon_font';
  src:  url('chat_icon_font.eot?yq8hps');
  src:  url('chat_icon_font.eot?yq8hps#iefix') format('embedded-opentype'),
    url('chat_icon_font.ttf?yq8hps') format('truetype'),
    url('chat_icon_font.woff?yq8hps') format('woff'),
    url('chat_icon_font.svg?yq8hps#chat_icon_font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'chat_icon_font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account_box:before {
  content: "\e851";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-wb_cloudy:before {
  content: "\e42d";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-help:before {
  content: "\e887";
}
.icon-lock:before {
  content: "\e897";
}
.icon-keyboard_voice:before {
  content: "\e31d";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-send:before {
  content: "\e163";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-supervisor_account:before {
  content: "\e8d3";
}
.icon-video_call:before {
  content: "\e070";
}
