@import "fonts/style.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

a:hover,
a:focus,
a:active {
    outline: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.chat-container,
.list_of_chats-container {
    box-sizing: content-box;
    width: 100vw;
    height: 100vh;
    margin: 0 auto 0;
    background: #e7eafa;
    /*border: 1px solid black;*/
    position: relative;
}

.chat-container header {
    /*padding-top: 5px;*/
    background: #5682a3;
    width: 100%;
    height: 50px;
}

.chat-container header .back-btn,
.chat-container header .avatar,
.chat-container header .username,
.chat-container header .kebab-menu {
    text-align: center;
    display: block;
    height: 50px;
}

.chat-container header .back-btn,
.chat-container header .avatar,
.chat-container header .username {
    float: left;
}

.chat-container header .back-btn,
.chat-container header .avatar,
.chat-container header .kebab-menu {
    width: 60px;
}

.chat-container header .back-btn img,
.chat-container header .kebab-menu img {
    /*width: 27px;*/
    /*height: 27px;*/
    height: 100%;
}

.chat-container header .back-btn,
.chat-container header .kebab-menu {
    padding: 15px;
}

.chat-container header .back-btn:active,
.chat-container header .kebab-menu:active {
    background-color: rgba(0, 0, 0, .15);
}

.chat-container header .avatar {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.chat-container header .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-container header .username {
    width: calc(100% - 60px - 60px - 60px);;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 5px;
}

.chat-container header .username .last-active {
    font-size: 12px;
    font-weight: normal;
}

.chat-container header .kebab-menu {
    float: right;
}

.chat-container header .dialog-menu {
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    background: #ffffff;
    color: #555555;
    font-size: 20px;
    border-radius: 3px;
    opacity: 0;
    transition: all .25s linear 0s;
    z-index: -10;
}
.chat-container header .dialog-menu.open {
    opacity: 1;
    z-index: 100;
}
.chat-container header .dialog-menu ul li {
    list-style: none;
    padding: 15px;
}

.chat-container footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 10px 0 8px 5px;
}

.chat-container footer textarea {
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: transparent;
    resize: none;
    width: calc(100% - 30px - 15px);
    min-height: 32px;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 16px;
    padding: 7px 0 3px 5px;
    outline: none;
    overflow: hidden;
    word-wrap: break-word;
}

.chat-container footer textarea:focus {
    outline: none;
}

.chat-container footer button {
    border: none;
    background: url("./images/send.png");
    background-size: contain;
    margin: 1px 5px;
    width: 30px;
    height: 30px;
    display: block;
    float: right;
}

.chat-container footer button:focus,
.chat-container footer button:active {
    outline: none;
}

.chat-container main {
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 100px);
}

.chat-container main .message {
    display: inline-block;
    max-width: 330px;
    min-width: 80px;
    float: left;
    vertical-align: top;
    border: 2px solid #fafafa;
    border-radius: 10px;
    padding: 10px 10px 0;
    position: relative;
    margin: 30px auto 0 10px;
    background: #fff;
}

.chat-container main .message::before,
.chat-container main .message::after {
    content: '';
    position: absolute;
    left: 50px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fafafa;
}

.chat-container main .message::after {
    border-bottom: 10px solid #fff;
    top: -18px;
}

.chat-container main .message-sent {
    display: inline-block;
    max-width: 330px;
    min-width: 80px;
    float: right;
    vertical-align: top;
    border: 2px solid #1c85cf;
    border-radius: 10px;
    padding: 10px 10px 0;
    position: relative;
    margin: 30px 10px 0 auto;
    background: #2094e6;
    color: #fff;
}
.chat-container main .message-sent::before,
.chat-container main .message-sent::after {
    content: '';
    position: absolute;
    right: 50px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #1c85cf;
}
.chat-container main .message-sent::after {
    border-top: 10px solid #2094e6;
    bottom: -18px;
}

.chat-container main .message .date-time {
    text-align: right;
    font-size: 10px;
    color: #777;
    padding: 5px 0;
}

.chat-container main .message-sent .date-time {
    text-align: left;
    font-size: 10px;
    color: #ddd;
    padding: 5px 0;
}

.chat-container main .message-container {
    display: block;
    width: 100%;
    height: auto;
    clear: both;
    word-wrap: break-word;
}

.chat-container main .message-container:after {
    display: block;
    clear: both;
}

.list_of_chats-container {
    background: #fff;
}

.list_of_chats-container .item_from_list_of_chats-container {
    display: block;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.list_of_chats-container .item_from_list_of_chats-container:active {
    background-color: rgba(0, 0, 0, .15);
}

.list_of_chats-container .item_from_list_of_chats-container:last-of-type {
    border-bottom: none;
}

.list_of_chats-container .item_from_list_of_chats-container .avatar {
    width: 80px;
    height: 70px;
    padding: 5px 10px;
    display: inline-block;
}

.list_of_chats-container .item_from_list_of_chats-container .avatar img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.list_of_chats-container .item_from_list_of_chats-container .content {
    display: inline-block;
    max-width: calc(100% - 80px - 50px);
    /*min-width: 80px;*/
    height: 100%;
    vertical-align: top;
    padding: 10px;
}

.list_of_chats-container .item_from_list_of_chats-container .content .username {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.list_of_chats-container .item_from_list_of_chats-container .content .message {
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_of_chats-container .item_from_list_of_chats-container .date-time {
    display: inline-block;
    float: right;
    width: 50px;
    color: #555;
    font-size: 14px;
    padding: 15px 10px;
}

.list_of_chats-container header {
    /*padding-top: 5px;*/
    background: #5682a3;
    width: 100%;
    height: 50px;
}

.list_of_chats-container header .menu-btn {
    display: block;
    float: left;
    width: 70px;
    height: 50px;
    padding: 15px 20px;
}

.list_of_chats-container header .menu-btn:active {
    background-color: rgba(0, 0, 0, .15);
}

.list_of_chats-container header .menu-btn img {
    width: 100%;
}

.list_of_chats-container header .title {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    line-height: 50px;
    padding-left: 10px;
}

.list_of_chats-container header .search {
    display: inline-block;
    float: right;
    width: 70px;
    height: 50px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}

.list_of_chats-container header .search:active {
    background-color: rgba(0, 0, 0, .15);
}

.list_of_chats-container header .search img {
    height: 22px;
}

.menu-container {
    display: block;
    position: absolute;
    width: 80%;
    overflow-x: hidden;
    top: 0;
    left: -80%;
    bottom: 0;
    background: #ffffff;
    transition: left .25s linear 0s;
    z-index: 100;
}

.overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    opacity: 0;
    z-index: -10;
    transition: opacity .25s linear 0s;
}

.overlay.open {
    opacity: .5;
    z-index: 90;
}

.menu-container.open {
    left: 0;
}

.menu-container header {
    background: #5891b8;
    padding: 15px 15px 5px;
    color: #ffffff;
    position: relative;
}

.menu-container header .avatar {
    display: block;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    background-color: #5787ae;
    font-size: 32px;
    line-height: 60px;
    margin: 5px;
}

.menu-container header .avatar img {
    width: 60px;
    height:60px;
}

.menu-container header .username {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 13px;
    padding-top: 20px;
}

.menu-container header .username .name {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}



.menu-container header .chat-with-yourself {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #5682a3 url("./images/cloud.ico");
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
}

.menu-container nav ul {
    font-size: 18px;
    font-weight: bold;
    color: #555555;
    border-bottom: 1px solid #cccccc;
    padding: 15px 0 5px;
}

.menu-container nav ul:last-of-type {
    border-bottom: none;
}

.menu-container nav ul li {
    list-style: none;
    line-height: 54px;
}

.menu-container nav ul li .icon {
    color: #777777;
    padding: 0 30px 0 15px;
    font-size: 28px;
}